/* Enfoque CSS - Módulos y Utilidades */

:root {
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #4a30c1;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #d3d3d3;
    --fuente-principal: 3rem;
}
/* Hack para box model */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* scroll-snap-type: y mandatory; */
}
/* Control Snap para ir deteniendose por sección de la página */
/* .contenedor, .navegacion-principal, .formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
} */

*, *::before,*::after {
    box-sizing: inherit;
}
/* Fin hack para box model */
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}
/* Tipografia */
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1, h2, h3 {
    text-align: center;
}
.subtitulo {
    text-align: center;
    font-style: italic;
}
/* Titulos */
.titulo span {
    font-size: 2rem;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: auto;
    border: none;
}
.boton:hover {
    cursor: pointer;
}

@media (min-width: 480) {
    .boton {
        width: auto;
    }
}
.sombra {
    box-shadow: 0px 10px 22px -8px rgba(0,0,0,0.75);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

/** Utilidades **/
.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}
.align-right {
    justify-content: flex-end;
}
.flex {
    display: flex;
}

/* Navegacion principal */
.nav-bg {
    background-color: var(--secundario);
}
.navegacion-principal {
    display: flex;
    justify-content: space-between;
    width: auto;
}
.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 15px;
    transition: 0.3s;
}
.navegacion-principal a:hover {
    background-color: var(--primario);
}
@media (max-width: 1350px) {
    .navegacion-principal {
        width: auto;
        align-items: center;
        justify-content: space-evenly;
    }
}
@media (max-width: 768px) {
    .navegacion-principal {
        width: auto;
        align-items: center;
        justify-content: space-evenly;
    }
}
@media (max-width: 480px) {
    .navegacion-principal {
        width: auto;
        flex-direction: column;
        align-items: center;
    }
}

.hero {
    background-image: url(../img/tecnologia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 41rem;
    padding: 2rem;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero {
    position: absolute;
    /* background-color: rgba(0, 0, 0, .5); Anterior */
    background-color: rgb(0 0 0 / 50%);
    bottom:0;
    left: 0;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2, p {
    color: var(--blanco);
}
.contenedor p {
    color: var(--negro);
}
/* CSS Grid */
@media (min-width: 768px) {
    .servicios {
        display: grid;
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: 1fr 1fr 1fr; /* Lo mismo pero sin el repeat */
        /* grid-template-columns: 33.3% 33.3% 33.3%; por columna, usará 33.3% para completar el 100% */
        column-gap: 1rem;
    }
}
/* Así intenté hacerlo yo
.servicios .iconos {
    background-color: var(--secundario);
    color: var(--grisClaro);
    width: 9rem;
    height: 9rem;
    padding: 3rem;
    border-radius: 5rem;
} */
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: var(--secundario);
}
.servicio p {
    line-height: 2;
    text-align: center;
}
.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--secundario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* contacto */
.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%); /* Utiliza el valor más pequeño*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset {
    border: none;
}
.formulario legend {
    color: var(--grisClaro);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 23rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3), .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}
.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
/* Prueba 1 de modificar inputs*/
/* .campo input[type="text"], input[type="tel"] {
    background-color: red;
} */ 
 /* Prueba 2 de modificar inputs */
.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.campo textarea {
    height: 20rem;
}
/* Footer */
.footer {
    text-align: center;
}
.footer p {
    color: black;
}