/* Enfoque CSS - Módulos y Utilidades */

:root {
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #4a30c1;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #d3d3d3;
    --fuente-principal: 3rem;
}
/* Hack para box model */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before,*::after {
    box-sizing: inherit;
}
/* Fin hack para box model */
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}
/* Tipografia */
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1, h2, h3 {
    text-align: center;
}
.subtitulo {
    text-align: center;
    font-style: italic;
}
/* Titulos */
.titulo span {
    font-size: 2rem;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: auto;
}

@media (min-width: 480) {
    .boton {
        width: auto;
    }
}
.sombra {
    box-shadow: 0px 10px 22px -8px rgba(0,0,0,0.75);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
/* Navegacion principal */
.nav-bg {
    background-color: var(--secundario);
}
.navegacion-principal {
    display: flex;
    justify-content: space-between;
    width: auto;
}
.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 15px;
}
.navegacion-principal a:hover {
    background-color: var(--primario);
}
@media (max-width: 1350px) {
    .navegacion-principal {
        width: auto;
        align-items: center;
        justify-content: space-evenly;
    }
}
@media (max-width: 768px) {
    .navegacion-principal {
        width: auto;
        align-items: center;
        justify-content: space-evenly;
    }
}
@media (max-width: 480px) {
    .navegacion-principal {
        width: auto;
        flex-direction: column;
        align-items: center;
    }
}

.hero {
    background-image: url(../img/tecnologia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 41rem;
    padding: 2rem;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero {
    position: absolute;
    /* background-color: rgba(0, 0, 0, .5); Anterior */
    background-color: rgb(0 0 0 / 50%);
    bottom:0;
    left: 0;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2, p {
    color: var(--blanco);
}
.contenedor p {
    color: var(--negro);
}
